$PRIMARY_COLOR-1 : rgba(128, 214, 113, 0.801);
$SECONDARY_COLOR-2 : rgba(39, 180, 133, 0.801);
$COLOR_SECONDARY_LIGHT : #ffb900;
$COLOR_SECONDARY_DARK : #ff7730;

$COLOR-TERT-LIGHT : #2998ff;
$COLOR-TERT-DARK : #5643fa;

$NEW_COLOR : orangered;
$ROW_COLOR : #777;
$COL_COLOR : #777;

$gutter-width : 6rem;
$gutter-height : 8rem;
$OPACITY-BL-COL : rgba(0, 0, 0, .2);

$footer-bg : #333;

$font-grid-row : 1.8rem; 
