.footer {
  background-color: $footer-bg;
  padding: 8rem 6rem;
  text-align: center;

  &__logo {
    width: 18rem;
    margin-bottom: 3rem;
  }

  &__list {
    list-style: none;
    display: inline-block;
    border-top: 1px solid #777;

    &__items {
      display: inline-block;
      margin-top: 2rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &-links:link,
      &-links:visited {
        color: #777;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s;
        font-size: 1.6rem;
        outline: none;
        display: inline-block;
      }

      &-links:active, &-links:hover {
        color: $SECONDARY_COLOR-2;
        box-shadow: 0 3px 3rem 3px rgba($color: #000000, $alpha: 0.5);
        outline: none;
        transform: translateY(-.8rem);
      }
    }
  }

  &__para-wrap {
    text-align: left;
    width: 75%;
    padding-right: 3rem;
    float: right;

    &__f-para {
      display: inline-block;
      border-top: 1px solid #777;
      padding-top: 2rem;
    }
  }
}
